body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #333;
  background-color: rgba(223, 222, 222, 0.178);
}

a {
  text-decoration: none;
}

.transparent {
  background-color: rgba(223, 222, 222, 0.8);
  max-width: 70%;
}

header {
  padding-top: 20px;
  background: #fff;
}

h1 {
  font-family: "Cormorant Garamond", serif;
  text-align: center;
  font-weight: 400;
  font-size: 3rem;
  letter-spacing: -1px;
}

h3 {
  font-family: "Cormorant Garamond", serif;
}

.card {
  background-color: rgba(223, 222, 222, 0.178);
  border: none;
}

hr {
  display: flex;
  align-self: center;
  width: 30%;
  margin: auto;
  text-align: center;
}

.menu-grey {
  color: #333;
}

.content-border {
  padding: 20px;
  border-top: 1px solid #333;
  background: #fff;
}



#maintext {
  background-color: #000;
  left: -30px;
  margin-bottom: 20px;
}

.carousel {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  height: 80vh;
}

.carousel-item {
  width: 100%;
  height: 80vh; /* example */
}

.carousel-item img:not(.spice) {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.spice {
  height: 120%;
  position: relative;
  bottom: 10%;
  object-fit: cover;
}

.inline-images {
  /* box-sizing: border-box; */
  border: 1px solid rgb(223, 222, 222);
}

@media screen and (max-width: 576px) {
  #home-pic-1,
  #home-pic-2,
  #home-pic-3 {
    max-height: 20vh;
  }
}

form button.btn-light {
  background-color: #fff;
}

.form-control {
  border: none;
}

#contact-form {
  height: 80vh!important;
}