body{
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
color: #333;
background-color: rgba(223, 222, 222, 0.178);
}

a {
  text-decoration: none;
}



.transparent {
  background-color: rgba(223, 222, 222, 0.8);
  max-width: 70%;
}

header {
  padding-top: 20px;
  background: #fff;
}

h1 {
  font-family:'Cormorant Garamond', serif;
  text-align: center;
  font-weight: 400;
  font-size: 3rem;
}

hr {
  display: flex;
  align-self: center;
  width: 30%;
  margin: auto;
  text-align: center;
}

.menu-grey {
  color: #333;
}

.content-border {
  padding: 20px;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  background: #fff;
}

#maintext {
  background-color: #000;
  left: -30px;
  margin-bottom: 20px;
}

#hero {
background-image: url("img/hero_bookcase.jpg");
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 96%;

    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: block;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
 height: 70vh;
}

#home-pic-1 {
    background-image: url("img/IMG_2833 copy.jpg");
    background-position: 70%;
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 0px;
    height: 50vh;

}

#home-pic-2 {
    background-image: url("img/wine_cooler.JPG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 0px;
    height: 50vh;
    /* margin: 10px; */
    }

#home-pic-3 {
    background-image: url("img/PHOTO-2021-03-16-17-07-06.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 0px;
    height: 50vh;
    }

    @media screen and (max-width: 576px) {
  #home-pic-1, #home-pic-2, #home-pic-3 {
    max-height: 20vh;
  }
}


