body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #333;
  background-color: rgba(223, 222, 222, 0.178);
}

a {
  text-decoration: none;
}

.transparent {
  background-color: rgba(223, 222, 222, 0.8);
  max-width: 70%;
}

header {
  padding-top: 20px;
  background: #fff;
}

#hero {
  height: 80vh;
  object-fit: cover;
  overflow: hidden;
}

h1 {
  font-family: "Cormorant Garamond", serif;
  text-align: center;
  font-weight: 400;
  font-size: 3rem;
  letter-spacing: -1px;
}

h3 {
  font-family: "Cormorant Garamond", serif;
}

.card {
  background-color: rgba(223, 222, 222, 0.178);
  border: none;
}

hr {
  display: flex;
  align-self: center;
  width: 30%;
  margin: auto;
  text-align: center;
}

.menu-grey {
  color: #333;
}

.content-border {
  padding: 20px;
  border-top: 1px solid #333;
  background: #fff;
}

#maintext {
  background-color: #000;
  left: -30px;
  margin-bottom: 20px;
}

.carousel {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  height: 80vh;
}

.carousel-item {
  width: 100%;
  height: 80vh;
  /* example */
}

.carousel-item img:not(.spice) {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.spice {
  height: 120%;
  position: relative;
  bottom: 10%;
  object-fit: cover;
}

.inline-images {
  /* box-sizing: border-box; */
  border: 1px solid rgb(223, 222, 222);
}

@media screen and (max-width: 576px) {
  #home-pic-1,
  #home-pic-2,
  #home-pic-3 {
    max-height: 20vh;
  }
}

form button.btn-light {
  background-color: #fff;
}

.form-control {
  border: none;
}

#contact-form {
  height: 80vh !important;
}

.ba-container {
  position: relative;
  height: 70vh;
}

.spice-image-1,
.spice-image-2 {
  position: absolute;
  /* height: 100%; */
}

/* .spice-image-2:hover, .spice-image-1:hover {
  opacity: 0;
  transition: all 1s ease;
} */

.opacity-0 {
  opacity: 0;
  transition: all 1s ease;
}

.opacity-1 {
  opacity: 1;
  transition: all 1s ease;
}

/* #whiskey-bar {
  height: 800px;
  object-fit: cover;
  object-position: top left;
} */

#whiskey-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
  opacity: 0;
}

.overlay-container {
  position: relative;
}

.overlay-container:hover #whiskey-overlay {
  width: 100%;
  opacity: 99%;
}

/* animation */

.animate-door {
  animation: opendoor;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

@keyframes opendoor {
  10% {
    opacity: 80%;
  }

  20% {
    opacity: 60%;
  }

  30% {
    opacity: 40%;
  }

  40% {
    opacity: 20%;
  }

  50% {
    opacity: 0%;
  }

  60% {
    opacity: 20%;
  }

  70% {
    opacity: 40%;
  }

  80% {
    opacity: 60%;
  }

  90% {
    opacity: 80%;
  }

  100% {
    opacity: 100%;
  }
}

/* The Modal (background) */
.non-bs-modal {
  display: none;
  justify-content: center;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  width: fit-content;
  /* max-width: 1200px; */
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #000;
  background-color: rgba(0, 0, 0, 0.26);
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
}

/* Caption text */
.caption-container {
  text-align: center;
  padding: 16px;
}

.caption-container > p {
  margin: 0;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width: 992px) {
  #whiskey-cad {
    filter: opacity(1);
  }
}
