body{
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
color: #333;
}

a {
  text-decoration: none;
}

.transparent {
  background-color: rgba(223, 222, 222, 0.8)
}

header {
  padding-top: 20px;
}

h1 {
  font-family:'Cormorant Garamond', serif;
  text-align: center;
  font-weight: 400;
  font-size: 3rem;
}

hr {
  display: flex;
  align-self: center;
  width: 30%;
  margin: auto;
  text-align: center;
}

.menu-grey {
  color: #333;
}

.content-border {
  padding: 20px;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}

#maintext {
  background-color: #000;
  left: -30px;
  margin-bottom: 20px;
}   

#hero {
 background-image: linear-gradient(to left, rgba(0,0,0,0.9), rgba(255,255,255,0)), url("img/door_flat.JPG");
  height: 70vh;
  width: 100%;
  background-position: 53% 45%;
  background-repeat: no-repeat;
  background-size: 1000px auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 0px;  
}

.edge {
    margin: 0px;
    padding: 10px;
    border-top: solid 1px grey;
    border-bottom: solid 1px grey;
    border-right: solid 1px grey;
    border-left: none;
}

/* #hero {
    background-image: url("/workspace/Rectory-Joinery/assets/img/full_bookcase.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 0px;
 height: 60vh;
} */

#home-pic-1 {
    background-image: url("img/door_flat.JPG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(266deg, rgba(246,247,249,1) 31%, rgba(0,0,0,0.5144432773109244) 100%, rgba(7,56,152,1) 100%, rgba(254,255,255,1) 100%);
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 0px;
    height: 50vh;

}

#home-pic-2 {
    background-image: url("img/wine_cooler.JPG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 0px;
    height: 50vh;
    /* margin: 10px; */
    }

#home-pic-3 {
    background-image: url("img/full_bookcase.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 0px;
    height: 50vh;
    }


